# Location: /etc/systemd/system/xray.service
# systemctl enable xray
# systemctl start xray
# systemctl | grep xray
# https://www.freedesktop.org/software/systemd/man/systemd.unit.html

[Unit]
Description=AWS X-Ray Daemon

[Service]
Type=simple
WorkingDirectory=/usr/bin/
User=xray
Group=xray
ExecStart=/usr/bin/xray -f /var/log/xray/xray.log
Restart=always
LogsDirectory=xray
LogsDirectoryMode=0755
ConfigurationDirectory=amazon/xray
ConfigurationDirectoryMode=0700

[Install]
WantedBy=network-online.target
